* {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}

button:focus, input, input:focus, textarea:focus, select:focus{
    outline: none;
}

select, option {
    border: none;
    cursor: pointer;
}

.frame {
    display: grid;
    grid-template-columns: 10vw 90vw;
    grid-template-rows: 6vh 94vh;
    grid-template-areas: 
        "header header"
        "side main"
    ;
}

@media only screen and (max-width: 800px) {
    .frame {
        grid-template-columns: 30vw 70vw; 
        grid-template-rows: 9vh 91vh;
    }
}

.header {
    grid-area: header;
    background: rgb(103,177,255);
    background: linear-gradient(90deg, rgba(103,177,255,1) 0%, rgba(218,218,218,0.9612219887955182) 100%);
    display: grid;
    grid-template-columns: 26% 7% 7% 20% 40%;
    grid-template-areas: ". . . input .";
}

@media only screen and (max-width: 800px) {
    .header {
        grid-template-columns: 1% 15% 15% 16% 40%;
    }
}

.display-button {
    margin: auto;
    width: 5vw;
    min-width: 50px;
    height: 2.2vh;
    font-size: 1.3vh;
    text-align: center;
    border-radius: 1.5vh;
    border: none;
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
    cursor: pointer;
}

@media only screen and (max-width: 450px) {
    .display-button {
        height: 4vh;
    }
}

.active {
    background: rgb(169,255,248);
    background: linear-gradient(90deg, rgba(169,255,248,0.5858718487394958) 0%, rgba(0,236,255,0.13209033613445376) 100%);
    transition: all .2s ease;
}

#b1 {
    grid-column: 2;
}

#b2 {
    grid-column: 3;
}

.search {
    grid-area: input;
    margin: auto;
    width: 12vw;
    min-width: 230px;
    height: 2.2vh;
    font-size: 1.3vh;
    text-align: center;
    border-radius: 1.5vh;
    border: none;
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
}

@media only screen and (max-width: 450px) {
    .search {
        height: 4vh;
    }
}

.side {
    grid-area: side;
    background-color: #E5E7E9;
    display: grid;
    grid-template-rows: 5% 5% 5% 5% 5% 71% 3%;
    text-align: center;
}

@media only screen and (max-width: 450px) {
    .side {
        grid-template-rows: 5% 7% 7% 7% 5% 65% 3%;
    }
}

.side h2 {
    margin-top: 1vh;
    font-size: 1.7vh;
}

.side #error {
    font-size: 1.4vh;
    color: red;
    opacity: .5;
    word-wrap: break-word;
}

.settings {
    grid-row: 6;
}

.settings-img {
    height: 1vh;
    transition: all .2s ease;
    cursor: pointer;
    float: left;
    margin-left: 1vw;
}

.handle {
    height: 2vh;
    cursor: pointer;
    transition: all .2s ease;
}

.handle:hover {
    background-color: lightgrey;
}

.content {
    width: 100%;
    height: 0;
    background-color: grey;
    overflow: hidden;
    transition: all .2s ease;
}

.footer {
    font-size: 1.2vh;
    grid-row: 7;
    opacity: .4;
}

.form-input {
    height: 70%;
    width: 90%;
    font-size: 1.4vh;
    margin: auto;
    text-align: center;
    border: none;
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
}

#form-button {
    width: 7vw;
    height: 3vh;
    transition: all .2s ease;
}


#form-button:hover {
    background: rgb(169,255,248);
    background: linear-gradient(90deg, rgba(169,255,248,0.5858718487394958) 0%, rgba(0,236,255,0.13209033613445376) 100%);
}

.main {
    grid-area: main;
    background-color: #ECF0F1;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    align-content: flex-start;
    overflow-y: scroll;
}

.box {
    background-color: #F2F3F4;
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);

    width: 15vw;
    max-width: 300px;
    min-width: 200px;

    height: 16vh;
    max-height: 150px;
    min-height: 120px;

    margin: 1vh;
    display: grid;
    grid-template-columns: 35% 35% 30%;
    grid-template-rows: 25% 25% 25% 25%;
}

.title {
    padding-top: 7px;
    grid-column: 1 / span 3;
    padding-left: 5px;
    display: grid;
    grid-template-columns: 80% 20%;
}

.title p {
    grid-column: 1;
}

.notification {
    grid-column: 2;
    background: rgb(169,255,248);
    background: linear-gradient(90deg, rgba(169,255,248,0.5858718487394958) 0%, rgba(0,236,255,0.5690651260504201) 100%);
    width: 85%;
    height: 50%;
    float: right;
    margin-right: 10%;
    padding: 2px 1px 2px 1px;
    text-align: center;
    font-size: 12px;
    border-radius: 5px;
}

.t0 {
    background: rgb(169,234,255);
    background: linear-gradient(90deg, rgba(169,234,255,1) 0%, rgba(0,56,255,0.7931547619047619) 100%);
}

.t1 {
    background: rgb(255,224,169);
    background: linear-gradient(90deg, rgba(255,224,169,1) 0%, rgba(255,239,0,0.7511379551820728) 100%);
}

.t2 {
    background: rgb(103,255,230);
    background: linear-gradient(90deg, rgba(103,255,230,1) 0%, rgba(0,255,158,0.9612219887955182) 100%);
}

.info {
    grid-column: 1 / span 3;
    grid-row: 2 / span 2;
    padding: 5px;
}

.status {
    grid-column: 1 / span 2;
    text-align: center;
}

.drop-down {
    width: 100%;
    height: 100%;
}

.delete-button {
    width: auto;
    height: 70%;
    filter: invert(70%);
    padding-top: 5px;
    cursor: pointer;
    margin-left: 40%;
}